.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 3, 75);
  }
  
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
  
nav a,nav button {
  margin-left: 16px;
}
  
.spacer {
   flex: 1;
}

.text {
  color: white;
}

.mat-mdc-button:not(:disabled) {
  color: white;
}
  